<style>
    #bird-view-content {
        width: 100%;
        height: 100%;
    }

    #bird-view-svg {
        width: 100%;
        height: 100%;
        border: 1px solid #bdbdbd;
    }
</style>
<div id="bird-view-content">
    <svg id="bird-view-svg">
        <g id="main-content-group"></g>
    </svg>
</div>
<script>

    let isGraphLoaded = false;
    const configuration = { attributes: true, childList: true, subtree: true };
    const graphObserver = new MutationObserver( () => {
        if(!isGraphLoaded){
            renderNewBirdView();
        }
    });

    window.onload = () => {
        let mainViewGraphSvg = d3.select("#main-view-graph>svg");
        const target = mainViewGraphSvg.node();
        graphObserver.observe(target, configuration);
    }

    function renderNewBirdView(){
        isGraphLoaded = true;
        let mainViewGraphSvg = d3.select("#main-view-graph>svg");
        let mainViewGraphSvgHtml = mainViewGraphSvg.html();

        mainViewGraphSvg.select("#main-svg-border").remove();

        let mainContentGroup = d3.select("#main-content-group");
        mainContentGroup.html("");
        let gContentWrapper = mainContentGroup.append("g").attr("class", "content-wrapper");
        gContentWrapper.html(mainViewGraphSvgHtml);

        let birdViewSvg = d3.select("#bird-view-svg");
        let birdViewHeight = birdViewSvg.node().clientHeight;
        let birdViewWidth = birdViewSvg.node().clientWidth;

        let bBox = gContentWrapper.node().getBBox();
        let xScale = birdViewWidth / bBox.width;
        let yScale = birdViewHeight / bBox.height;

        let minScale = Math.min(xScale, yScale);

        let x = bBox.x * minScale;
        let y = bBox.y * minScale;
        let translate = [(birdViewWidth / 2) - (bBox.width * minScale / 2) - x, (birdViewHeight / 2) - (bBox.height * minScale / 2) - y];

        gContentWrapper.attr("transform", `translate(${translate}) scale(${minScale})`);

        setTimeout(function() { isGraphLoaded = false; }, 100);
    }
</script>